<div class="is-overlay has-background-dark">
    <section class="hero is-info has-background-dark is-align-items-center">

        <div class="hero-body block has-text-centered">
          <p class="title">
            Skyjo online
          </p>
          <p class="subtitle">
            Let's play to Skyjo !
          </p>
        </div>
    </section>
    <section class="body container is-max-desktop has-background-dark">
      <div class="form">
        <div class="box block">
          <p class="block">Create a game and share the ID to other players</p>
          <input #newGamePlayerName class="input is-info block" type="text" placeholder="Your name">
          <div class="block has-text-danger" *ngIf="errorNewGame">{{errorNewGameMessage}}</div>
          <button (click)="launchGame(newGamePlayerName.value)" class="button block">Launch Game</button>
        </div>
        <div class="box block">
          <p class="block">Join an existing game thanks to the ID</p>
          <input #joinGamePlayerName class="input is-info block" type="text" placeholder="Your name">
          <input #joinGameId class="input is-info block" type="text" placeholder="Game ID">
          <div class="block has-text-danger" *ngIf="errorJoinGame">{{errorJoinGameMessage}}</div>
          <button (click)="joinGame(joinGameId.value, joinGamePlayerName.value)" class="button block">Join Game</button>
        </div>
      </div>
    </section>
</div>
<app-rule-modal></app-rule-modal>
  