
<div class="is-overlay has-background-dark">
    <section class="hero is-info has-background-dark is-align-items-center">

        <div class="hero-body">
            <div class="title has-text-centered">
                Skyjo online
            </div>
        </div>

    </section>
    <div *ngIf="[isLoaded]" class="container is-max-widescreen is-flex">
        <div class="box block">
            <table class="table is-bordered is-centered">
                <thead>
                    <tr>
                        <th>Player name</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let player of game.players">
                        <th>{{player.name}}</th>
                        <th class="has-text-success">{{player.score}}</th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="block">
            <button class="button is-primary" (click)="deleteGame()">delete game</button>
        </div>
        <div class="block">
            <button class="button is-primary" (click)="resetGame()">play again</button>
        </div>
    </div>
</div>
<app-rule-modal></app-rule-modal>
