<div class="is-overlay has-background-dark">
    <section class="hero is-info has-background-dark is-align-items-center">

        <div class="hero-body">
            <div class="title has-text-centered">
                Skyjo online
            </div>
            <nav class="level">
                <!-- Left side -->
                <div class="level-left">
                  <div class="level-item block">
                    <p *ngIf="isLoaded" class="subtitle level-left level-item">
                        game id is {{game.id}}
                    </p>
                  </div>
                </div>
              
                <!-- Right side -->
                <div class="level-right block">
                    <button class="button level-item is-primary is-active" (click)="copyText()">
                        <div *ngIf="idCopied">Copied</div>
                        <div *ngIf="!idCopied">Copy ID</div>
                    </button>
                </div>
              </nav>
        </div>

    </section>
    <div *ngIf="isLoaded" class="container is-max-widescreen is-centered">
        <div class="columns">
            <div class="column is-one-quarter">
                <div class="box block">
                    <table class="table is-bordered is-centered">
                        <thead>
                            <tr>
                                <th>Player name</th>
                                <th>Ready</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let player of game.players">
                                <th>{{player.name}}</th>
                                <th class="has-text-success" *ngIf="player.state == 'ready'">yes</th>
                                <th class="has-text-danger" *ngIf="player.state != 'ready'">no</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="column box block">
                Auto
            </div>
        </div>
    </div>
</div>


<router-outlet></router-outlet>
