<div id="background" class="is-overlay has-background-dark">
    <section class="hero is-info has-background-dark is-align-items-center">

        <div class="hero-body">
            <div class="title has-text-centered">
                Skyjo online
            </div>
            <div class="error-message has-text-centered">{{message}}</div>
            <div class="buttons is-centered">
                <button class="button is-primary is-medium" (click)="returnHome()">Return home</button>
            </div>
        </div>

    </section>
    
</div>

