<div class="is-overlay has-background-dark">
    <section class="hero is-info has-background-dark is-align-items-center">

        <div class="hero-body">
            <div class="title has-text-centered">
                Skyjo online
            </div>
            <nav class="level">
                <!-- Left side -->
                <div class="level-left">
                  <div class="level-item block">
                    <p *ngIf="isLoaded" class="subtitle level-left level-item">
                        game id is {{game.id}}
                    </p>
                  </div>
                </div>
              
                <!-- Right side -->
                <div class="level-right block">
                    <button class="button level-item is-primary is-active" (click)="copyText()">
                        <div *ngIf="idCopied">Copied</div>
                        <div *ngIf="!idCopied">Copy ID</div>
                    </button>
                </div>
              </nav>
        </div>

    </section>
    <div *ngIf="[isLoaded]" class="container is-max-widescreen is-centered">
        <div class="columns">
            <div class="column is-one-quarter">
                <div class="box block">
                    <table class="table is-bordered is-centered">
                        <thead>
                            <tr>
                                <th>Player name</th>
                                <th>Ready</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let player of game.players">
                                <th>{{player.name}}</th>
                                <th class="has-text-success" *ngIf="player.state == 'ready'">yes</th>
                                <th class="has-text-danger" *ngIf="player.state != 'ready'">no</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="block">
                    <button class="button is-primary" (click)="launchGame()" [disabled]="gameReady ? null : true">Launch game</button>
                </div>
            </div>
            <div class="column box block">
                <div class="block">
                    {{player.name}}, choose two cards to begin.
                </div>
                <div id="board" class="block">
                    <table class="table is-bordered is-centered">
                        <tbody>
                            <tr *ngFor="let line of player.board.grid, index as r">
                                <th *ngFor="let card of line, index as l">
                                    <button (click)="clickOnCard(l, r)" class="button is-primary is-active" *ngIf="card.visible; else elseBlock">
                                        {{card.number}}
                                    </button>
                                    <ng-template #elseBlock>
                                        <button (click)="clickOnCard(l, r)" class="button is-primary is-active" [disabled]="card.isClicked==null ? null : true">X</button>
                                    </ng-template>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="block">
                    <button class="button is-primary" (click)="declarePlayerReady()" [disabled]="playerReady ? null : true">ready</button>
                </div>
            </div>
        </div>
    </div>
</div>

<app-rule-modal></app-rule-modal>
<router-outlet></router-outlet>
